/* Header Component Style */

.header {
  background-color: $base-primary-color;
  color: #fff;

  &-wrapper {
    padding: 20px 0;
  }

  &-title {
    font-size: 1.75em;
    font-weight: bold;
  }

  &-nav-item {
    display: inline-block;
    margin-left: 50px;
  }
}
