/* Header Component Style */

.header {
  background-color: $base-primary-color;
  color: #fff;

  &-wrapper {
    padding: 20px 0;
  }

  &-title {
    font-size: 1.75em;
    font-weight: bold;

    &-link {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }

  &-nav-item {
    display: inline-block;
    margin-left: 2em;
  }
}
