/* Login Page Styles */

.login-container {
  max-width: 30%;
  margin: 5em auto 0;
  text-align: center;
  background-color: #fff;
  padding: 4em 2em;
  border-top: 5px solid $base-primary-color;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 #bfbfbf;
}
