/* Main Sidebar Component Style */

.sidebar {
  font-size: 0.85em;
  color: #343434;

  &-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;

    &-active,
    &:hover {
      border: 1px solid #ccc;
      background: #fcfcfc;
    }

    &-active {
      font-weight: bold;
    }

    &-title {
      margin-left: 0.5em;
    }
  }

  &-title {
    margin: 1.5em 0 0.5rem;
    color: #838383;
    text-transform: uppercase;
    font-weight: bold;
  }
}
