/* Header Component Style */

@import "../main";

.header {
  background-color: $base-primary-color;
  color: $white;
}

.container {
  @include container;
  @include flex-space-between;
  padding: 20px 0;
}

.title {
  font-size: 1.75em;
  font-weight: bold;
}

.nav {
  @include list-bare;
}

.navItem {
  display: inline-block;
  margin-left: 50px;
}
