@value base-font-size, base-text-color, base-line-height, base-background-color from "./global.module.css";

html {
  background: base-background-color;
  color: base-text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: base-font-size;
  line-height: base-line-height;
  min-height: 100%;
}
