/* Layout */

/**
  * Simple flebox grid layout
  */

.o-row {
  display: flex;

  @include bp-small {
    display: block;
  }
}

.o-col {
  flex: 1;
}

.o-flex {
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--space-between {
    justify-content: space-between;
    align-items: center;
  }

  &--space-around {
    justify-content: space-around;
    align-items: center;
  }

  &--column {
    flex-direction: column;
  }
}
